button {
  cursor: pointer;
}

.list-group-item {
  border-radius: 10px;

  &:focus {
    outline: none;
  }

  &:active {
    border-radius: 10px;
  }

  &:not(.active):hover {
    color: #fff;
    background-color: #277fe3b4;
    border-radius: 10px;
  }
}